#Purl
terms http://purl.org/dc/terms/
bib http://purl.org/ontology/bibo/

#Geo
geo  http://www.w3.org/2003/01/geo/wgs84_pos#

#Enipedia
enip_d http://enipedia.tudelft.nl/wiki/
enip_m http://enipedia.tudelft.nl/wiki/Category:
enip_p http://enipedia.tudelft.nl/wiki/Property:
enip_w http://enipedia.tudelft.nl/wiki

#DBpedia
dbp_d http://dbpedia.org/resource/
dbp_m http://dbpedia.org/ontology/
dbp_p http://dbpedia.org/property/

#Freebase
freeb http://rdf.freebase.com/ns/
basekb http://rdf.basekb.com/ns/

#British Museum
bm_id http://collection.britishmuseum.org/id/
bm_idObj http://collection.britishmuseum.org/id/object/
bm_thes http://collection.britishmuseum.org/id/thesauri/
bm_crm http://collection.britishmuseum.org/id/crm/
bmx http://collection.britishmuseum.org/id/crm/bm-extensions/

#Fact Forge
ptop http://www.ontotext.com/proton/protontop#
ptext http://www.ontotext.com/proton/protonext#

#Linked Movie Database 
movie http://data.linkedmdb.org/resource/movie/

#LOD
mesh http://bio2rdf.org/mesh:
pubmed http://bio2rdf.org/pubmed: 

#mods
mods_m http://swepub.kb.se/mods/model#
mods_d http://swepub.kb.se/mods/data#
swpa_m http://swepub.kb.se/SwePubAnalysis/model#


