http://vingetest.chickenkiller.com:8890/sparql,SPARQL_Service,Vinge Endpoint
http://dbpedia.org/sparql,SPARQL_Service,DBpedia public endpoint
http://factforge.net/sparql,SPARQL_Service/OWLIM,Fact Forge
http://virhp07.libris.kb.se/sparql,SPARQL_Service/Virtuoso,SwePub Analysis Endpoint
http://lod.openlinksw.com/sparql,SPARQL_Service/Virtuoso,Linked Open Data (LOD)
http://linkedgeodata.org/sparql,SPARQL_Service/Virtuoso,Linked Geo Data
http://collection.britishmuseum.org/Sparql,SPARQL_Service,British Museum Sparql Endpoint
http://bnb.data.bl.uk/sparql,SPARQL_Service,British National Bibliography
http://libris.kb.se/sparql,SPARQL_Service,LIBRIS

