http://dbpedia.org/sparql,SPARQL_Service,DBpedia public endpoint
https://query.wikidata.org/sparql,SPARQL_Service,Wikidata public endpoint
https://linkeddata1.calcul.u-psud.fr/sparql,SPARQL_Service,Yago3 public endpoint
localhost:1111,Virtuoso,Local Virtuoso TripleStore
http://hp07.libris.kb.se:8890/sparql,SPARQL_Service/Virtuoso,SwePub/LibrisXL Endpoint
http://enipedia.tudelft.nl/sparql,SPARQL_Service/Virtuoso,Enipedia - Energy Industry Data public endpoint
http://factforge.net/sparql,SPARQL_Service/OWLIM,Fact Forge
http://lod.openlinksw.com/sparql,SPARQL_Service/Virtuoso,Linked Open Data (LOD)
http://services.data.gov/sparql,SPARQL_Service/Virtuoso,Data.gov
http://data.linkedmdb.org/sparql,SPARQL_Service/D2R,Linked Movie Database
http://healthdata.gov/sparql,SPARQL_Service/Virtuoso,HealthCare.gov
http://linkedgeodata.org/sparql,SPARQL_Service/Virtuoso,Linked Geo Data
#http://collection.britishmuseum.org/Sparql,SPARQL_Service,British Museum Sparql Endpoint
#http://bnb.data.bl.uk/sparql,SPARQL_Service,British National Bibliography
http://libris.kb.se/sparql,SPARQL_Service,LIBRIS
